.notificationmanager-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.notification-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-container input[type="text"] {
  padding: 8px 10px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f4f4f4;
  font-size: 14px;
  width: 300px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

.urgency-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
}

.outline {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
}

.box {
  width: 30px;
  height: 30px;
  background-color: #505050;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.boxstyle1 {
  border-radius: 8px 0px 0px 8px;
}

.boxstyle2 {
  border-radius: 0px 8px 8px 0px;
}

.red {
  background-color: #c90c0c;
}

.yellow {
  background-color: #fcf000;
}

.green {
  background-color: #12c90c;
}

.response-container {
  display: flex;
  justify-content: space-between;
  width: 98%;
  background-color: white; /* white background */
  color: black; /* Black text */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  padding: 20px;
}

.urgency-table table {
  width: 100%;
}

.urgency-table th,
.urgency-table td {
  padding: 10px;
}

.notification-scrollable {
  max-height: 350px; /* Maximum height for scrollable notifications */
  overflow-y: auto; /* Enable vertical scrolling */
}

.notification-card {
  background-color: rgba(244, 244, 244, 0.5);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin-bottom: 12px;
}

.notification-banner {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.notification-banner img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.notification-banner p {
  margin: 0;
  font-size: 14px;
}

.notification-banner button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
}

.notification-content p {
  margin: 0;
  font-size: 12px;
}

.notification-content p:first-child {
  margin-top: 8px;
}

.notification-card button:hover {
  text-decoration: underline; /* Underline button text on hover */
}

.expand-tab {
  cursor: pointer;
  margin-top: 10px;
}

.expand-tab p {
  color: #007bff; /* Blue text */
}

.response-centre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-box {
  flex: 1;
  padding-top: 17px;
}

.response-box {
  flex: 1;
}

.response-box textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.response-box button {
  background-color: #fff; /* White button */
  color: #000; /* Black text */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.response-box button:hover {
  background-color: #ddd; /* Light gray on hover */
}


 
