.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .brand p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  .navigation{
    display: flex;
  }
  
  .navigation p {
    margin: 0;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .navigation p:hover {
    text-decoration: underline;
  }
  




